<footer class="footer-section">
  <div class="footer-container">
    <div class="footer-project">
      <span class="footer-logo">Pulmo <b>Vision</b> © 2025</span><br />
      <span>Developed by Tran Hieu – Graduation Project</span>
    </div>
    <div class="footer-info">
      <div>
        <span class="footer-ico">📧</span>
        Email:
        <a href="mailto:trunghieuidoi02@gmail.com" class="footer-link"
          >trunghieuidoi02&#64;gmail.com</a
        >
      </div>
      <div>
        <span class="footer-ico">🐙</span>
        GitHub:
        <a
          href="https://github.com/joshchan1301/pulmo-vision"
          target="_blank"
          class="footer-link"
        >
          github.com/joshchan1301/pulmo-vision
        </a>
      </div>
      <div>
        <span class="footer-ico">🎓</span>
        Email student:
        <a href="mailto:hieu.207CT55052@gmail.com" class="footer-link"
          >hieu.207CT55052&#64;vanlanguni.vn</a
        >
      </div>
    </div>
    <div class="footer-warning">
      <span class="footer-ico-warn">⚠️</span>
      <span>
        This <b>AI-based tool</b> is intended <b>solely</b> for research and
        educational purposes. It is <b>not</b> a substitute for professional
        medical advice.
      </span>
    </div>
  </div>
</footer>
